.battery-container {
    width: 200px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #ddd;
    overflow: hidden;
    position: relative;
}

.battery-fill {
    height: 100%;
    transition: width 0.5s, background-color 0.5s;
}
