<div class="d-flex align-items-center">
    <span>Battery level : @BatteryPercent.ToString("F2") % </span>
    <div class="ms-2 battery-container">
        <div class="battery-fill" style="width:@FillWidth; background-color:@FillColor"></div>
    </div>
</div>




