<div class="container">
    <div class="row">
        <div class="col-6 text-end">
            Front Distance :
        </div>
        <div class="col-6 text-start">
            <input id="distance" readonly style="width:100%; height:1.5rem" @bind-value="Distance" />
        </div>
    </div>
</div>


