<div id="container" class="main">
    <div class="row text-center">
        <div class="title"> PI Car Web Control</div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <img src="https://pi4b.local/CamServer/Video" style="width:500px; height:500px">
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-auto">
                    <input id="distance" readonly />

                </div>
            </div>

        </div>
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h2>Camera Control</h2>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button id="btnUp" @onclick="()=>OnCameraUp()">
                        <img src="./images/UpArrow.png" class="buttonImg" />
                    </button>
                </div>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-auto">
                    <button id='btnLeft' @onclick="()=>OnCameraLeft()">
                        <img src="./images/Leftarrow.png" class="buttonImg" />
                    </button>
                </div>
                <div class="col-auto ">
                    <div style="width:60px;height:60px" >
           
                    </div>
                </div>
                <div class="col-auto">
                    <button id='btnRight' @onclick="()=>OnCameraRight()">
                        <img src="./images/RightArrow.png" class="buttonImg" />
                    </button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-auto">
                    <button id='btnDown' @onclick="()=>OnCameraDown()">
                        <img src="./images/DownArrow.png" class="buttonImg" />
                    </button>
                </div>
            </div>


            <div class="row justify-content-center mt-5">
                <div class="col-auto">
                    <h2>Car Control</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-auto">
                    <button id="btnUp" @onmousedown="()=>OnCarForward()" @onmouseup="()=>OnCarStop()"
                            @onblur="()=>OnCarStop()" @onmouseleave="()=>OnCarStop()">
                        <img src="./images/UpArrow.png" class="buttonImg" />
                    </button>
                </div>
            </div>

            <div class="row justify-content-evenly my-4">
                <div class="col-auto">
                    <button id='btnLeft' @onmousedown="()=>OnCarLeft()" @onmouseup="()=>OnCarStop()"
                            @onblur="()=>OnCarStop()" @onmouseleave="()=>OnCarStop()">
                        <img src="./images/Leftarrow.png" class="buttonImg" />
                    </button>
                </div>
                <div class="col-auto">
                    <button id='btnLeft' @onmousedown="()=>OnCarStop()">
                        <img src="./images/Stop.png" class="buttonImg" />
                    </button>
                </div>
                <div class="col-auto">
                    <button id='btnRight' @onmousedown="()=>OnCarRight()" @onmouseup="()=>OnCarStop()"
                            @onblur="()=>OnCarStop()" @onmouseleave="()=>OnCarStop()">
                        <img src="./images/RightArrow.png" class="buttonImg" />
                    </button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-auto">
                    <button id='btnDown' @onmousedown="()=>OnCarBack()" @onmouseup="()=>OnCarStop()"
                            @onblur="()=>OnCarStop()" @onmouseleave="()=>OnCarStop()">
                        <img src="./images/DownArrow.png" class="buttonImg" />
                    </button>
                </div>
            </div>


            <div class="row justify-content-center mt-5">
                <div class="col-auto">
                    <button id='btnFaster' @onclick="() => OnCarFaster()">
                        <img src="./images/plus.png" class="buttonImg" />
                    </button>
                </div>
                <div class="col-auto">
                    <button id='btnSlower' @onclick="()=>OnCarSlower()">
                        <img src="./images/minus.png" class="buttonImg" />
                    </button>
                </div>

            </div>

        </div>

        <!-- <input type="range" min="20" max="100", style="width:300px";> -->
    </div>
</div>